@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
  font-family: "Nura", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-fondo: #070a0c;
  --color-orange: #e44528;
  --color-text: #fff;
  --color-text-dark: #343434;
  --color-azul: #1e3a8a;
  --color-blanco: #d1d0cf;
}

.container {
  background-color: var(--color-text-dark);
  max-height: fit-content;
  min-height: 90vh;
  position: relative;
  z-index: 1;
}


.blur {
  position: relative;
  z-index: 1;
  background: linear-gradient(135deg, #4d4d4d00, #4d4d4d00);

  border: 1px solid rgba(255, 255, 255, 0.1);
  cursor: pointer;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.82);
  height: fit-content;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.letterGlitchBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
  z-index: 0;
  pointer-events: none;
}

.background {
  position: absolute;
  width: 100vw;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background: var(--color-orange);
  overflow: hidden;
  z-index: -2;
}

.background li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  animation: animate 11s linear infinite;
  background: #070a0c;

}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}


.background li:nth-child(0) {
  left: 12%;
  width: 217px;
  height: 217px;
  bottom: -217px;
  animation-delay: 1s;
}

.background li:nth-child(1) {
  left: 58%;
  width: 181px;
  height: 181px;
  bottom: -181px;
  animation-delay: 4s;
}

.background li:nth-child(2) {
  left: 25%;
  width: 149px;
  height: 149px;
  bottom: -149px;
  animation-delay: 9s;
}

.background li:nth-child(3) {
  left: 3%;
  width: 202px;
  height: 202px;
  bottom: -202px;
  animation-delay: 2s;
}

.background li:nth-child(4) {
  left: 59%;
  width: 162px;
  height: 162px;
  bottom: -162px;
  animation-delay: 1s;
}

.background li:nth-child(5) {
  left: 4%;
  width: 158px;
  height: 158px;
  bottom: -158px;
  animation-delay: 12s;
}

.background li:nth-child(6) {
  left: 83%;
  width: 116px;
  height: 116px;
  bottom: -116px;
  animation-delay: 30s;
}

.background li:nth-child(7) {
  left: 26%;
  width: 186px;
  height: 186px;
  bottom: -186px;
  animation-delay: 27s;
}

.background li:nth-child(8) {
  left: 62%;
  width: 138px;
  height: 138px;
  bottom: -138px;
  animation-delay: 40s;
}

.background li:nth-child(9) {
  left: 5%;
  width: 199px;
  height: 199px;
  bottom: -199px;
  animation-delay: 4s;
}

.background li:nth-child(10) {
  left: 6%;
  width: 214px;
  height: 214px;
  bottom: -214px;
  animation-delay: 44s;
}

.background li:nth-child(11) {
  left: 0%;
  width: 111px;
  height: 111px;
  bottom: -111px;
  animation-delay: 7s;
}

.background li:nth-child(12) {
  left: 7%;
  width: 161px;
  height: 161px;
  bottom: -161px;
  animation-delay: 17s;
}

.background li:nth-child(13) {
  left: 58%;
  width: 201px;
  height: 201px;
  bottom: -201px;
  animation-delay: 55s;
}

.background li:nth-child(14) {
  left: 60%;
  width: 138px;
  height: 138px;
  bottom: -138px;
  animation-delay: 19s;
}

.background li:nth-child(15) {
  left: 51%;
  width: 208px;
  height: 208px;
  bottom: -208px;
  animation-delay: 17s;
}

.background li:nth-child(16) {
  left: 50%;
  width: 142px;
  height: 142px;
  bottom: -142px;
  animation-delay: 1s;
}

.background li:nth-child(17) {
  left: 26%;
  width: 231px;
  height: 231px;
  bottom: -231px;
  animation-delay: 42s;
}

.background li:nth-child(18) {
  left: 1%;
  width: 225px;
  height: 225px;
  bottom: -225px;
  animation-delay: 88s;
}

.background li:nth-child(19) {
  left: 70%;
  width: 116px;
  height: 116px;
  bottom: -116px;
  animation-delay: 61s;
}

.background li:nth-child(20) {
  left: 10%;
  width: 210px;
  height: 210px;
  bottom: -210px;
  animation-delay: 97s;
}

.background li:nth-child(21) {
  left: 83%;
  width: 192px;
  height: 192px;
  bottom: -192px;
  animation-delay: 35s;
}

.background li:nth-child(22) {
  left: 67%;
  width: 119px;
  height: 119px;
  bottom: -119px;
  animation-delay: 25s;
}

.background li:nth-child(23) {
  left: 49%;
  width: 227px;
  height: 227px;
  bottom: -227px;
  animation-delay: 101s;
}

.background li:nth-child(24) {
  left: 39%;
  width: 134px;
  height: 134px;
  bottom: -134px;
  animation-delay: 101s;
}

.background li:nth-child(25) {
  left: 34%;
  width: 172px;
  height: 172px;
  bottom: -172px;
  animation-delay: 111s;
}

.background li:nth-child(26) {
  left: 64%;
  width: 231px;
  height: 231px;
  bottom: -231px;
  animation-delay: 88s;
}

.background li:nth-child(27) {
  left: 22%;
  width: 128px;
  height: 128px;
  bottom: -128px;
  animation-delay: 99s;
}

.background li:nth-child(28) {
  left: 81%;
  width: 225px;
  height: 225px;
  bottom: -225px;
  animation-delay: 11s;
}

.background li:nth-child(29) {
  left: 87%;
  width: 220px;
  height: 220px;
  bottom: -220px;
  animation-delay: 2s;
}

.background li:nth-child(30) {
  left: 39%;
  width: 100px;
  height: 100px;
  bottom: -100px;
  animation-delay: 54s;
}

.background li:nth-child(31) {
  left: 49%;
  width: 104px;
  height: 104px;
  bottom: -104px;
  animation-delay: 7s;
}

.background li:nth-child(32) {
  left: 78%;
  width: 115px;
  height: 115px;
  bottom: -115px;
  animation-delay: 23s;
}

.background li:nth-child(33) {
  left: 22%;
  width: 175px;
  height: 175px;
  bottom: -175px;
  animation-delay: 81s;
}

.background li:nth-child(34) {
  left: 15%;
  width: 110px;
  height: 110px;
  bottom: -110px;
  animation-delay: 168s;
}

.background li:nth-child(35) {
  left: 78%;
  width: 155px;
  height: 155px;
  bottom: -155px;
  animation-delay: 35s;
}

.background li:nth-child(36) {
  left: 30%;
  width: 129px;
  height: 129px;
  bottom: -129px;
  animation-delay: 118s;
}


/* Resto de tus estilos... */

.cajauno {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.containerText {
  font-size: 1.2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 0.5rem;
}

.firstText,
.thirdText {
  color: var(--color-orange);
  text-shadow: 2px 2px 10px #070a0ccd;
}

.skill {
  color: var(--color-text);
  font-size: 15px;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
}

.skillsImg {
  margin: 1rem 0.5rem;
}

.skillsImg img {
  width: 25px;
  height: 25px;
}

.containerPersonal {
  background-image: linear-gradient(270deg, #7E2616 0%, #E44528 100%);
  border-radius: 13px;
  padding: 0.5rem;
  margin-right: 0.5rem;
  margin-left: 0.1rem;
  margin-top: 1rem;
}

.imgMai {
  width: 9rem;
  height: 6rem;
}

.secondText {
  color: var(--color-text);
}

.title {
  color: var(--color-text);
  font-size: 0.8rem;
  margin: 0.5rem 0;
}

.containerSkills {
  color: var(--color-text);
  font-size: 0.5rem;
  max-width: 160px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, auto);
  gap: 2px;
}

.containerSkills p {
  background-color: var(--color-text-dark);
  text-align: center;
  width: 100%;
  padding: 0.2rem 0;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.Work {
  background-image: linear-gradient(-270deg, #7E2616 0%, #E44528 100%);
  padding: 5px 10px;
  margin: 30px 10px 0 10px;
  border-top-right-radius: 5rem;
}

.titleclient {
  color: var(--color-text);
  font-size: 2rem;
  margin-bottom: 1rem;
}

.containerAll {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 1rem;
}

.info {
  display: flex;
  gap: 10px;
  color: var(--color-text);
  font-size: 0.5rem;
  background-color: var(--color-fondo);
  max-width: 320px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px;
}

.info img {
  width: 2rem;
  height: 2rem;
}

.infoTitleP {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.description {
  font-size: 0.4rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ask p {
  font-size: 4rem;
  line-height: 3.5rem;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: var(--color-text);
  text-align: end;
}


@media (min-width: 850px) {
  .blur {
    display: flex;
    justify-content: center;
    border-top-right-radius: 10rem;
    gap: 3rem;
    position: relative;
    z-index: 1;
    background: linear-gradient(135deg, #4D4D4D33, #4D4D4D33);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    cursor: pointer;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.82);
    height: fit-content;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
  }

  .cajauno {
    justify-content: center;
    width: fit-content;
    gap: 20px;
  }

  .containerText {
    font-size: 2.5rem;
    width: 400px;
  }

  .skill {
    font-size: 25px;
  }

  .skillsImg img {
    width: 40px;
    height: 40px;
  }

  .containerPersonal {
    border-radius: 13px;
    padding: 1rem;
    height: fit-content;
    margin-top: 0.5rem;
  }

  .imgMai {
    width: 13rem;
    height: 9rem;
  }

  .title {
    font-size: 1rem;
  }

  .containerSkills {
    font-size: 0.8rem;
    max-width: 100%;
  }

  .titleclient {
    font-size: 2.5rem;
  }

  .Work {
    margin: 0 0 0 10px;
    width: 600px;
    border-top-right-radius: 10rem;
    }

  .ask {
    position: absolute;
    bottom: 10px;
    width: 42%;
    margin-right: auto;
  }

  .containerAll {
    position: relative;
  }

  .containerAll .info:nth-child(1) {
    max-width: 510px;
  }

  .containerAll .info:nth-child(2) {
    max-width: 500px;
  }

  .containerAll .info:nth-child(3) {
    max-width: 425px;
  }

  .containerAll .info:nth-child(4) {
    max-width: 370px;
  }

  .info {
    font-size: 0.5rem;
    max-width: 100%;
  }

  .info img {
    width: 4rem;
    height: 4rem;
  }

  .infoTitleP {
    font-size: 0.8rem;
  }

  .description {
    font-size: 0.6rem;
  }

  .container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7E2616;
  }
}